@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




:root {
  --background: #FEFEFE;
  --foreground: #111111;;
}

html.dark {
  --background: #111111;;
  --foreground: #FEFEFE;
}

body {
  background: var(--background);
  height: 100%;
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}



@theme inline {
  --color-green: #3A5B22;
  --color-yellow: #F5C212;
  --color-black: #111111;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFEFE;
    --foreground: #111111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

/* Edge */
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}





